@font-face {
    font-family: '양진체';
    src: url('https://cdn.jsdelivr.net/gh/supernovice-lab/font@0.9/yangjin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #222222;
}

html {
    font-family: '양진체';
}

body {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5% 0%;
}

.container {
    display: block;
    height: 90%;
    width: 90%;
    border: 5px solid #D9BC80;
    color : #D9BC80
}

h1 {
    padding: 10% 0% 8% 0%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

hr {
    padding: 0% 20%;
    border: 1px solid #D9BC80;
    background-color: #D9BC80;
    height: 3%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0% 15% 8% 15%;
}

.menu_list {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.name_and_price  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    padding: 4% 0%;
}

.soju {
    color: #2C9137;
}

.beer {
    color: #F0B500;
}

p {
    font-size: 13px;
    color : #F8EEE0;
    margin-top: 2%;
}

a {
    color : #D9BC80;
    text-decoration: none;
}

.event_link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 4% 0% 2% 0%;
}

.icon {
    margin-left: 2%;
    font-size: 18px;
}

.event_title {
    display: flex;
    align-items: center;
    font-size: 15px;
}

.bottom_word {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 10px;
    margin-bottom: 5%;
}

.kakaopay {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.kakaopay_link {
    display: flex;
    align-items: center;
    padding-left: 1%;
    font-size: 13px;
    width: auto;
}

.kakaopay_word {
    margin: 0%
}


.menu_link {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: auto;
}

.event1_explain {
    line-height: 150%;
}

.over {
    display: flex;
    flex-direction: row;
    justify-content: center;
}


.sale {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: red;
}